<% layout('../layout/page') %>
<% block('title', title) %>
<hr>
<form action='/pegawai/update/<%= pegawai._id %>' method='post' role='form'>
   <div class='form-group'>
    <label for='exampleInputEmail'>NIP</label>
    <input type='text' name='nip' value='<%= pegawai.nip %>' class='form-control' placeholder='Enter NIP' required>
   </div>
   <div class='form-group'>
    <label for='exampleInputEmail'>Nama</label>
    <input type='text' name='nama' value='<%= pegawai.nama %>' class='form-control' placeholder='Enter Nama' required>
   </div>
   <div class='form-group'>
    <label for='exampleInputEmail'>Email</label>
    <input type='text' name='email' value='<%= pegawai.email %>' class='form-control' placeholder='Enter Email' required>
   </div>
   <div class='form-group'>
    <label for='exampleInputEmail'>Tempat Lahir</label>
    <input type='text' name='tempat_lahir' value='<%= pegawai.tempat_lahir %>' class='form-control' placeholder='Enter Tempat Lahir' required>
   </div>
   <div class='form-group'>
    <label for='exampleInputEmail'>Tanggal Lahir</label>
    <input type='date' name='tanggal_lahir' value='<%= pegawai.tanggal_lahir.toISOString().substring(0, 10) %>' class='form-control'  required>
   </div>
   <div class='form-group'>
    <label for='exampleInputEmail'>Alamat</label>
    <textarea name='alamat' class='form-control'><%= pegawai.alamat %></textarea>
   </div>
   <div class='form-group'>
    <label for='exampleInputEmail'>Jabatan</label>
    <select name='jabatan' class='form-control'  required>
	<option value=''></option>
    	<option value='Admin' <%= pegawai.jabatan.toString() === "Admin" ? "selected" : "" %>>Admin</option>
        <option value='Marketing' <%= pegawai.jabatan.toString() === "Marketing" ? "selected" : "" %>>Marketing</option>
    </select>
   </div>
   <div class='form-group'>
    <label for='exampleInputEmail'>Gaji</label>
    <input type='number' name='gaji' value='<%= pegawai.gaji %>' class='form-control' placeholder='Enter Gaji' required>
   </div>
   <div class='form-group'>
    <label for='exampleInputEmail'>Password</label>
    <input type='password' name='password' class='form-control' placeholder='Tidak ganti password jangan diisi'>
   </div>
   <button type='submit' class='btn btn-primary'>Submit</button>
</form>